@import 'base.scss';

#main {
   background: url("../img/bluestroke.png") no-repeat center center fixed;
   background-size: 79% 100%;
   background-position: left;
}


.aread {
   text-align: right;
   padding-top: 40px;
   padding-right: 10px;
}

p {
   padding-top: 30px;
   padding-right: 10px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   line-height: 20px;
   font-weight: lighter;
   float:right;
}

nav {
   position: fixed;
   bottom: 35px;
   right: 120px;
   margin: 0;
   padding: 0;
   line-height: 50px;
}

.fa {
   color: black;
}

li {
   line-height: 30px;
}

li:hover {
   cursor: pointer;
}
