@import 'base.scss';


#aread {
   text-align: right;
   padding-top: 10px;
   padding-bottom: 20px;
}

#navh1 {
   letter-spacing: 18px;
   text-align: right;
   font-family: 'Roboto', sans-serif;
   font-size: 2em;
   font-weight: lighter;
   position: fixed;
   top: 12px;
   right:20px;
}

nav {
   position:fixed;
   bottom: 40px;
   right: 50px;
   margin: 0;
   padding: 0;
}

.fa {
   color: black;
}

li {
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   font-weight: lighter;
   float:right;
   padding-left: 68px;
}

li:hover {
   cursor: pointer;
}

#Nav {
   background: url("../img/blue.jpg") no-repeat center center fixed;
   background-size: 100% 100%;
   background-position: left;
}


#About {
   background: url("../img/people1.png") no-repeat center center fixed;
   background-size: 80% 75%;
   background-position: top;
}

#aboutblurb {
   text-align: center;
   padding: 500px 120px 0 135px;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   line-height: 25px;
   font-weight: lighter;
   width: 80vw;
}

#headerabout {
   font-family: 'Roboto', sans-serif;
   font-size: 6em;
   color: white;
   letter-spacing: 2em;
   font-weight: lighter;
   position:fixed;
   top: 419px;
   left:145px;
}

.homebutton {
   position: relative;
   text-align: right;
   padding-top: 20px;
   padding-right: 54px;
}

.homebutton:hover {
   cursor: pointer;
}

#contactinfo {
   text-align: center;
   padding: 488px 130px 50px 145px;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   line-height: 25px;
   font-weight: lighter;
   width: 80vw;
}

span {
   line-height: 60px;
}

#headercontact {
   font-family: 'Roboto', sans-serif;
   font-size: 6em;
   color: white;
   letter-spacing: 1em;
   font-weight: lighter;
   position:fixed;
   top: 408px;
   left:165px;
}

#contact {
   background: url("../img/people2.png") no-repeat center center fixed;
   background-size: 80% 75%;
   background-position: top;
}

#gallery {
   background: url("../img/personpurple.png") no-repeat center center fixed;
   background-size: 80% 75%;
   background-position: top;
}

#headergallery {
   font-family: 'Roboto', sans-serif;
   font-size: 6em;
   color: white;
   letter-spacing: 1em;
   font-weight: lighter;
   position:fixed;
   top: 420px;
   left:195px;
}
