@import 'base.scss';

#main {
   background: url("../img/bluestroke.png") no-repeat center center fixed;
   background-size: 79% 100%;
   background-position: left;
}


#aread {
   text-align: right;
   padding-top: 35px;
   padding-right: 10px;
   padding-bottom: 100px;
}

#enter {
   letter-spacing: 18px;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   font-weight: lighter;
   position: fixed;
   bottom:35px;
   right:45px;
   border: solid black 1px;
   padding: 12px 12px 12px 30px;
   text-align: center;
}

#enter:hover {
   color: white;
   background-color: black;
   cursor: pointer;
}

a[href] {
   text-decoration: none;
   color: black;
}

a:hover {
   color: white;
}

nav {
   position:fixed;
   bottom: 50px;
   right: 17px;
   margin: 0;
   padding: 0;
}

.fa {
   color: black;
}

li {
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   font-weight: lighter;
   float:right;
   padding-right: 45px;
}

li:hover {
   cursor: pointer;
}

#Nav {
   background: url("../img/blue.jpg") no-repeat center center fixed;
   background-size: 100% 100%;
   background-position: left;
}


#About {
   background: url("../img/orange_closeup.png") no-repeat center center fixed;
   background-size: 79% 100%;
   background-position: left;
}

#aboutblurb {
   padding-top: 50px;
   padding-right: 5px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: 1.2em;
   line-height: 25px;
   font-weight: lighter;
   float:right;
   width: 20vw;
}

#headerabout {
   text-align: right;
   font-family: 'Roboto', sans-serif;
   font-size: 3.5em;
   line-height: 20px;
   font-weight: lighter;
   padding: 65px 53px 0 0;
}

.homebutton {
   position: fixed;
   bottom: 35px;
   right: 128px;
   margin: 0;
   padding: 0;
}

.homebutton:hover {
   cursor: pointer;
}

#contactinfo {
   padding-top: 50px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-weight: lighter;
   font-size: 1.2em;
   line-height: 25px;
   float:right;
   width: 21vw;
}

span {
   line-height: 60px;
}

#headercontact {
   text-align: right;
   font-family: 'Roboto', sans-serif;
   font-size: 3.5em;
   line-height: 20px;
   font-weight: lighter;
   padding: 65px 18px 0 0;
}

#contact {
   background: url("../img/green_collage_2closeup.png") no-repeat center center fixed;
   background-size: 79% 100%;
   background-position: left;
}
